/* Banner Section css start */
.bannerMain{
    background-image: url("../src/assets/demoImages/d-bgImg.png");
}
.listingBanner{
    background-image: url("../src/assets/listingBanner.jpg");
}
.bannerMainresidential{
    background-image: url("../src/assets/residentialBanner.png");
}
.bannerMaincommercial{
    background-image: url("../src/assets/commercialBG.jpg");
}
.bannerMainarchitecture{
    background-image: url("../src/assets/architectureBG.jpg");
}
.bannerMainjapandi{
    background-image: url("../src/assets/japandiBG.jpg");
}
.bannerMainfurniture{
    background-image: url("../src/assets/furnitureBG.jpg");
}
.bannerMaincontemporary{
    background-image: url("../src/assets/contemporaryBG.jpg");
}
.bannerMainparisian{
    background-image: url("../src/assets/parisianBG.jpg");
}
.bannerMainmodernLuxury{
    background-image: url("../src/assets/finalImages/modernLuxury/ml12.jpg");
}
.bannerMainsalon{
    background-image: url("../src/assets/finalImages/salon/s23.jpg");
}
.bannerMaingym{
    background-image: url("../src/assets/finalImages/gym/g8.jpg");
}
.bannerMaincorporate{
    background-image: url("../src/assets/finalImages/corporate/co4.jpg");
}
.bannerMainhospitality{
    background-image: url("../src/assets/finalImages/hospitality/5.jpg");
}
.bannerMainretail{
    background-image: url("../src/assets/finalImages/retail/10.jpg");
}